<div class='container'>
  <p>Ship: <a href="/groups/<%= group.id %>"><%= group.name %></a></p>
  <p>Captain: <%= group.owner.name %></p>
  <p><a href= "/groups/<%= group.id %>/posts">Crew Banter</a></p>
  <% unless group.users.include?(current_user) %>
    <p><a href= "/groups/<%= group.id %>/join">Join this crew</a></p>
  <% end %>
  <%if session[:user_id] == group.owner_id  %>
    <p><a href= "/groups/<%= group.id %>/edit">Change yer ship name</a></p>
  <%end%>

  <p><%=set_date(group.created_at)%></p>
</div>
