<%= group.name %>
<%= group.owner %>
<% group.users.each do |user| %>
  <%= user.name %>
<% end %>
<a href= "/groups/<%= group.id %>/posts">Group Posts</a>
<a href= "/groups/<%= group.id %>/edit">Edit Post</a>
<%= group.created_at %>
