<div class='container'>
  <p>Ship: <%= group.name %></p>
<p>Captain: <%= group.owner.name %></p>
<p>Crew:

  <%= group.users.pluck(:name).join(", ") %>

</p>
<p><a href= "/groups/<%= group.id %>/posts">Crew Banter</a></p>
<%if session[:user_id] == group.owner_id  %>
  <p><a href= "/groups/<%= group.id %>/edit">Change yer ship name</a></p>
  <%end%>

<p><%=set_date(group.created_at)%></p>
<p><a href="/groups">Find another crew</a></p>
</div>
