<p>Date: <%=set_date(p.created_at)%></p>
<p>Author: <%= p.author.name%></p>
<p>Title: <a href="/posts/<%= p.id %>"><%= p.title%></a></p>
<p>Body: <%= p.body %></p>
<p>Tags: </p>
  <% p.tags.each do |t| %>
    <p><a href="/tags/<%= t.name %>"><%= t.name %></a></p>
    <% end %>
  <br>
