<div class="container move"><h1><%= post.title %></h1></div>

<div class="container">
<div>Date: <%=set_date(post.created_at)%></div>
<div>Author: <a href="/users/<%= post.author_id %>/posts"><%= post.author.name %></a></div>
<div>Body: <%= post.body %></div>
<div>Tags:
  <% post.tags.each do |tag| %>
    <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
    <% end %>
  </div>
<p><a href="/posts/<%= post.id %>/edit">Ashamed?</a></p>
<p><a href="/groups/<%= post.group_id %>/posts">Back to yer crew?</a></p>
</div>
