<div class="container"><h1>Post <%= post.id %></h1></div>

<div class="container">
<div>Date: <%= post.created_at %></div>
<div>Author: <a href="/users/<%= post.author_id %>/posts"><%= post.author.name %></a></div>
<div>Title: <%= post.title %></div>
<div>Body: <%= post.body %></div>
<div>Tags: </div>
  <% post.tags.each do |tag| %>
    <div><a href="/tags/<%= tag.name %>"><%= tag.name %></a></div>
    <% end %>
<a href="/groups/<%= post.group_id %>/posts">Back to Group</a>
</div>